.menu {
  padding: 20px 0 0 0;
}

.menu ul {
  color: white;
  position: relative;
}

.menu ul li {
  list-style: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}
